.container {
    font: 14px 'Verdana';
    padding: 0;
    width: 500px;
    margin: 0 auto;
    position: relative;
}

ul {
    display: block;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f5f2f0;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: maroon;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: maroon;
}
ul.menu > li > a:hover {
    color: #f5f2f0;
}
.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 0;
    left: 150px;
    background-color: #f5f2f0;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: maroon;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    background-color: maroon;
    color: #f5f2f0;
}
.display-sub-menu{
  display: block;
}
