.container {
    width: 1300px;
    height: 10000px;
    margin: 0 auto;
    background-color: #f5f2f0;
    position: relative;
}

.absolute-top {
    width: 100px;
    height: 300px;
    background-color: maroon;
    position: relative;
    top: 3000px;
}
.absolute-bottom{
  width: 100px;
  height: 300px;
  background-color: maroon;
  position: relative;
  top: 7000px;
}
.fixed{
  position: fixed;
  top: 0;
  left: inherit;
}
